*,*::before, *:after{
  box-sizing: border-box;
}
.clearfix: before,
.clearfix: after{
  content: '';
  display: table;
}
.clearfix: after{
  clear: both;
}
body {
  background: url(../Img/Cocuy00.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, serif;
}
#Contenedor{
  background: none;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.img{
  position: fixed;
  margin-left: -180px;
}
h1{
  color:midnightblue;
  font-size: 50px;
  text-transform: uppercase;
}
h2{
  font-family: verdana, "Geneva", sans-serif;
  color: rgb(218, 228, 247);
  text-transform: uppercase;
  text-align: left;
}
h3{
  font-family: "Times New Roman", serif;
  color: rgb(92, 11, 11);
  text-transform: uppercase;
}
P{
  font-family: Helvetica, "Geneva", serif;
  font-size: 18px;
}

.banner{
  position: relative;
  display: inline-block;
}

.titulopagina{
  position: absolute;
  top: -20px;
  right: 10%;
}

header nav ul{
  list-style: none;
}
header nav ul li{
  display: inline-block;
  margin-right: 40px;
  color: rgb(243, 190, 152);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
header nav ul li a{
  color: rgb(241, 205, 179);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav{
  margin-top: 50px;
}

.servicios{
  display: flex;
  background:rgb(152, 204, 247);
  margin:0 auto;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 20px;
  color: gray;
  margin-bottom: 20px;
}

.fotoservicios{
  width: 300px;
  height: 200px;
}

.noticias{
  display: flex;
  background: rgb(152, 204, 247);
  margin:0 auto;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  color: gray;
  margin-bottom: 20px;
}

.fotonoticias{
  width: 300px;
  height: 200px;
}

.nota{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.infonoticia{
  margin-left: 20px;
}

.equipo{
  display: flex;
  background: rgb(152, 204, 247);
  margin:0 auto;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 20px;
  color: gray;
  margin-bottom: 20px;
}

.fotointegrante{
  width: 200px;
  height: 300px;
}

footer{
  background: rgb(7, 7, 7);
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.footerseccion1{
  text-align: left;
  margin-top: 80px;
}

.footerseccion2{
  text-align: right;
}